/* https://github.com/Alexays/Waybar/wiki/Styling */
/* margin can't be controlled here, use margin setting in the config */
/* common {{{1 */
@keyframes blink {
  to {
    color: #ffffff;
    background-color: #ff0000;
  }
}
/*TODO wallust*/
@define-color background #000000;
@define-color selection #222222;
* {
  border: none;
  border-radius: 6px;
  font-size: 13pt;
  font-family: "Hack Nerd Font";
  color: #ffffff;
  background: transparent;
}
window#waybar {
  /* root */
  background: transparent;
}
#waybar > box {
  /* the bar contents */
  background: @background;
  box-shadow: 0 0 10px -10px black;
  margin: 10px; /* gap between the bar and the screen borders */
  padding: 5px;
}
tooltip * {
  /* stuff that appears on mouse hover */
  background: @background;
}
tooltip {
  /* ??? this is behind the tooltip */
  background: @background;
}
box > * > * {
  /* basically most elements (box->left/mid/center->element) */
  background: @background;
  padding: 0 7px; /* padding inside the element */
}
/* workspaces {{{1 */
#workspaces {
  padding: 0;
}
/* number labels on workspace buttons */
#workspaces label {
  background: rgba(0, 0, 0, 0); /* so that it doesn't overlap with box-shadow */
}
#workspaces button {
  padding: 0 5px;
  background-color: @background;
}
#workspaces button.focused {
  background: #222222;
}
#workspaces button.urgent {
  background: #ffff00;
  color: @background;
}
/* misc modules {{{1 */
#mode {
  padding: 0 10px;
  background: #ff0000;
  color: @background;
}
#battery {
  color: #00ff00;
}
#battery.charging,
#battery.plugged {
  color: @background;
  background-color: #00ff00;
}
#battery.warning:not(.charging) {
  color: #ff0000;
}
#battery.critical:not(.charging),
#temperature.critical {
  background-color: @background;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#temperature {
}
#network.disconnected {
  color: #ff0000;
}
#network.disabled {
  color: #ff0000;
}
#custom-wlan-disabled {
  color: #ff0000;
  padding-right: 13px;
}
#cpu,
#memory,
#idle_inhibitor {
  padding-right: 13px;
}
#disk,
#network {
  padding-right: 12px;
}
#backlight {
  padding-right: 10px;
}
#pulseaudio.muted,
#wireplumber.muted {
  color: #ff0000;
}
#tray {
  padding: 4px 6px;
}
#tray * {
  background-color: @background;
}
#idle_inhibitor.activated {
  color: #ff0000;
}
/* vim: fdl=0 fdm=marker 
*/
