/* https://github.com/Alexays/Waybar/wiki/Styling */
/* margin can't be controlled here, ues mragin setting in the config */
/* TODO refactor? */
/*~~~~~~~~~~~~~~~~~~~~~~~~ Common ~~~~~~~~~~~~~~~~~~~~~~~~*/
@import url("./colors.css");
* {
  border: none;
  border-radius: 6px;
  font-size: 13pt;
  font-family: "Hack Nerd Font";
  background: @background-darker;
  color: @foreground;
  padding: 0;
  margin: 0;
}
window#waybar {
  /* border: 3px solid @pink; */
}
/* the bar contents */
#waybar > box {
  margin: 5px;
}
@keyframes blink {
  to {
    color: @white;
    background-color: @red;
  }
}
/*~~~~~~~~~~~~~~~~~~~~~~ workspaces ~~~~~~~~~~~~~~~~~~~~~~*/
#workspaces {
  padding: 0;
}
/* number labels on workspace buttons */
#workspaces label {
  background: rgba(0, 0, 0, 0); /* so that it doesn't overlap with box-shadow */
}
#workspaces button {
  padding: 0 5px;
  background-color: @background;
}
#workspaces button.focused {
  box-shadow: inset 0 -3px #ffffff; /* border would raise the text */
  background-image: linear-gradient(0deg, @selection, @background-darker);
  /* background: @selection; */
}
#workspaces button.urgent {
  background: @purple;
  color: @background;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#mode {
  padding: 0 10px;
  background: @red;
  color: @background;
}
/* basically most elements (box->left/mid/center->element) */
box > * > * {
  background: @background;
  padding: 0 7px; /* padding inside the element */
}
box.horizontal.modules-center {
  padding: 0 5px;
}
tooltip * {
  background: @background;
}
tooltip {
  /* ??? this is behind the tooltip */
  background: @background;
}
/*~~~~~~~~~~~~~~~~~~~ specific modules ~~~~~~~~~~~~~~~~~~~*/
#battery {
  color: @green;
}
#battery.charging,
#battery.plugged {
  color: @background;
  background-color: @green;
}
#battery.warning:not(.charging) {
  color: @yellow;
}
#battery.critical:not(.charging),
#temperature.critical {
  background-color: @background;
  color: @white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#temperature {
}
#network.disconnected {
  color: @yellow;
}
#network.disabled {
  color: @red;
}
#custom-wlan {
  color: @red;
  padding-right: 13px;
}
#cpu,
#memory,
#idle_inhibitor {
  padding-right: 13px;
}
#disk,
#network {
  padding-right: 12px;
}
#backlight {
  padding-right: 10px;
}
#pulseaudio.muted,
#wireplumber.muted {
  color: @red;
}
#tray {
  padding: 4px 6px;
}
#tray * {
  background-color: @background;
}
#idle_inhibitor.activated {
  color: @purple;
}
#language {
  /* https://github.com/Alexays/Waybar/issues/952 */
  min-width: 20px; /* HACK */
}
