/* https://github.com/Alexays/Waybar/wiki/Styling */
/* margin can't be controlled here, use margin setting in the config */
/*~~~~~~~~~~~~~~~~~~~~~~~~ Common ~~~~~~~~~~~~~~~~~~~~~~~~*/
@import url("./dracula.css");
* {
  border: none;
  border-radius: 6px;
  font-size: 13pt;
  font-family: "Hack Nerd Font";
  color: @foreground;
  background: transparent;
}
window#waybar {
  /* root */
  background: transparent;
}
#waybar > box {
  /* the bar contents */
  background: @background;
  box-shadow: 0 0 8px -4px @green;
  margin: 10px;
  padding: 5px;
}
tooltip * {
  /* stuff that appears on mouse hover */
  background: @background;
}
tooltip {
  /* ??? this is behind the tooltip */
  background: @background;
}
box > * > * {
  /* basically most elements (box->left/mid/center->element) */
  background: @background;
  padding: 0 7px; /* padding inside the element */
}
/*~~~~~~~~~~~~~~~~~~~~~~ workspaces ~~~~~~~~~~~~~~~~~~~~~~*/
#workspaces {
  padding: 0;
}
/* number labels on workspace buttons */
#workspaces label {
  background: rgba(0, 0, 0, 0); /* so that it doesn't overlap with box-shadow */
}
#workspaces button {
  padding: 0 5px;
  background-color: @background;
}
#workspaces button.focused {
  background: @selection;
}
#workspaces button.urgent {
  background: @purple;
  color: @background;
}
/*~~~~~~~~~~~~~~~~~~~~~ misc modules ~~~~~~~~~~~~~~~~~~~~~*/
#mode {
  padding: 0 10px;
  background: @red;
  color: @background;
}
#battery {
  color: @green;
}
#battery.charging,
#battery.plugged {
  color: @background;
  background-color: @green;
}
#battery.warning:not(.charging) {
  color: @yellow;
}
#battery.critical:not(.charging),
#temperature.critical {
  background-color: @background;
  color: @white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#temperature {
}
#network.disconnected {
  color: @yellow;
}
#network.disabled {
  color: @red;
}
#custom-wlan-disabled {
  color: @red;
  padding-right: 13px;
}
#cpu,
#memory,
#idle_inhibitor {
  padding-right: 13px;
}
#disk,
#network {
  padding-right: 12px;
}
#backlight {
  padding-right: 10px;
}
#pulseaudio.muted,
#wireplumber.muted {
  color: @red;
}
#tray {
  padding: 4px 6px;
}
#tray * {
  background-color: @background;
}
#idle_inhibitor.activated {
  color: @purple;
}
#language {
  /* https://github.com/Alexays/Waybar/issues/952 */
  min-width: 20px; /* HACK */
}
